{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<title>Change Password</title>
</head>
<body id="sign-in-page">
	<a class="back" href="{% url 'dashboard' %}">
		<div>
			<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
			</svg>
			<span>Back</span>
		</div>
	</a>
	{% for message in messages %}
	<div class="alert alert-info alert-dismissible fade show" role="alert">
	  <button type="button" class="btn-close close-alert" data-dismiss="alert" aria-label="Close"></button>
	  <strong>{{message}}</strong>
	</div>
	{% endfor %}
	<div class="container card-container change-password-container" id="sign-in-or-register">
		<div class="card container">
			<div class="card-body">
				<h2>Change Password</h2>
				<form method="post" action="{% url 'change_password' %}">
					{% csrf_token %}
					<div class="mb-3 form-floating">
                      <input type="password" class="form-control" id="pwd1" name="pwd1" placeholder="Password">
                      <label for="pwd1" class="form-label">Current Password</label>
                    </div>
                    <div class="mb-3 form-floating">                      
                      <input type="password" class="form-control" id="pwd2" name="pwd2" placeholder="Password">
                      <label for="pwd2" class="form-label">New Password</label>
                    </div>
                    <div class="mb-3 form-floating">                      
                      <input type="password" class="form-control" id="pwd3" name="pwd3" placeholder="Password">
                      <label for="pwd3" class="form-label">Confirm Password</label>
                    </div>
                    <div class="btn-container">
                    	<input type="submit" value="Change Password" class="btn btn-primary">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--Bootstrap Bundle with Popper -->
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<!-- My script -->
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>