{% extends 'main.html' %}
{% load static %}
{% block content %}
  <div class="jumbotron-main">
    <div class="container">
      <img src="{% static 'images/img2.jpg' %}" alt="Profile" id="family-icon">
      <h1>Welcome {{user.first_name}}</h1>
    </div>
  </div>
  <div id="dashboard">
    <div class="container">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-ppl-tab" data-bs-toggle="pill" data-bs-target="#pills-ppl" type="button" role="tab" aria-controls="pills-ppl" aria-selected="true">Find People</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-add-med-tab" data-bs-toggle="pill" data-bs-target="#pills-add-med" type="button" role="tab" aria-controls="pills-add-med" aria-selected="false">Add Media</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link s-btn-text" id="pills-settings-tab" data-bs-toggle="pill" data-bs-target="#pills-settings" type="button" role="tab" aria-controls="pills-settings" aria-selected="false">Settings</button>
          <button class="nav-link s-btn-icon" id="pills-settings-tab" data-bs-toggle="pill" data-bs-target="#pills-settings" type="button" role="tab" aria-controls="pills-settings" aria-selected="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
              <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
            </svg>
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-ppl" role="tabpanel" aria-labelledby="pills-ppl-tab">
          <div>
            <input type="text" class="form-control" id="srch-ppl" placeholder="Search people...">
          </div>
          <ul id="ppl" class="list-group">
            <li class="list-group-item">
              <img src="images/profile.jpg" alt="Name">
              <span>Adriana C. Ocampo Uria</span>
            </li>
            <li class="list-group-item">
              <img src="images/profile.jpg" alt="Name">
              <span>Albert Einstein</span>
            </li>
            <li class="list-group-item">
              <img src="images/profile.jpg" alt="Name">
              <span>Anna K. Behrensmeyer</span>
            </li>
            <li class="list-group-item">
              <img src="images/profile.jpg" alt="Name">
              <span>Blaise Pascal</span>
            </li>
            <li class="list-group-item">
              <img src="images/profile.jpg" alt="Name">
              <span>Caroline Herschel</span>
            </li>
            <li class="list-group-item">
              <img src="images/profile.jpg" alt="Name">
              <span>Cecilia Payne-Gaposchkin</span>
            </li>
            <li class="list-group-item">
              <img src="images/profile.jpg" alt="Name">
              <span>Jacqueline K. Barton</span>
            </li>
            <li class="list-group-item">
              <img src="images/profile.jpg" alt="Name">
              <span>Max Planck</span>
            </li>
            <li class="list-group-item">
              <img src="images/profile.jpg" alt="Name">
              <span>Richard Phillips Feynman</span>
            </li>
            <li class="list-group-item">
              <img src="images/profile.jpg" alt="Name">
              <span>Shirley Ann Jackson</span>
            </li>
            <li class="list-group-item">
              <img src="images/profile.jpg" alt="Name">
              <span>Wolfgang Ernst Pauli</span>
            </li>
          </ul>
        </div>
        <div class="tab-pane fade" id="pills-add-med" role="tabpanel" aria-labelledby="pills-add-med-tab">
          <div class="container">
            <div class="med-section">
              <h2>Add Articles</h2>
              <div class="recent-med med-box" id="add-article">
                <span class="rec-text">No recent articles</span>
                <div id="add-med-artcl" class="hide med-form">
                  <form class="needs-validation" novalidate id="form-article">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="artcl-heading" placeholder="Heading" required>
                      <label for="artcl-heading">Heading</label>
                      <div class="invalid-feedback">
                        This field is required
                      </div>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="form-floating">
                      <textarea class="form-control" placeholder="Type your articles here..." id="artcl" required></textarea>
                      <label for="artcl">Article</label>
                      <div class="invalid-feedback">
                        This field is required
                      </div>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="small-text">
                      <span>Max limit is 500 words</span>
                    </div>
                    <div class="mb-3">
                      <button type="submit" class="btn btn-primary">Submit</button>
                      <button class="btn btn-info" onclick="cancel_article(event)">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="add-more-med">
                <button onclick="add_article()" id="med-artcl-btn">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                  <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                  </svg><span>Add an article</span>
                </button>
              </div>
            </div>
            <div class="med-section">
              <h2>Add Book Reviews</h2>
              <div class="recent-med med-box" id="add-book">
                <span class="rec-text">No recent book reviews</span>
                <div id="add-med-book" class="hide med-form">
                  <form class="needs-validation" novalidate id="form-book">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="book_name" placeholder="Book" required>
                      <label for="book_name">Name of the Book</label>
                      <div class="invalid-feedback">
                        This field is required
                      </div>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="mb-3 file">
                      <label for="imageBook" class="form-label">Book Cover</label>
                      <input class="form-control" type="file" id="imageBook" accept="image/*">
                    </div>
                    <div class="form-floating">
                      <textarea class="form-control" placeholder="Write you review here..." id="review" required></textarea>
                      <label for="review">Review</label>
                      <div class="invalid-feedback">
                        This field is required
                      </div>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="form-floating">
                      <input type="url" class="form-control" id="bookShopUrl" placeholder="Online Shop URL" required>
                      <label for="bookShopUrl">Online Shop URL</label>
                      <div class="invalid-feedback">
                        This field is required and only accepts valid URL.
                      </div>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="mb-3 buttons">
                      <button type="submit" class="btn btn-primary">Submit</button>
                      <button class="btn btn-info" onclick="cancel_book_review(event)">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="add-more-med">
                <button onclick="add_book_review()" id="med-book-btn">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                  <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                  </svg><span>Add a book review</span>
                </button>
              </div>
            </div>
            <div class="med-section">
              <h2>Add Images</h2>
              <div class="recent-med med-box" id="add-image">
                <span class="rec-text">No recent images</span>
                <div id="add-med-img" class="hide med-form">
                  <form class="needs-validation" novalidate id="form-image">
                    <div class="mb-3 file">
                      <label for="imageGallery" class="form-label">Image</label>
                      <input class="form-control" type="file" id="imageGallery" accept="image/*" required>
                      <div class="invalid-feedback">
                        This field is required
                      </div>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="form-floating">
                      <input type="text" class="form-control" id="imgCaption" placeholder="Caption" required>
                      <label for="imgCaption">Caption</label>
                      <div class="invalid-feedback">
                        This field is required
                      </div>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="mb-3 buttons">
                      <button type="submit" class="btn btn-primary">Submit</button>
                      <button class="btn btn-info" onclick="cancel_image(event)">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="add-more-med">
                <button onclick="add_image()" id="med-img-btn">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                  <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                  </svg><span>Add an image</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-settings" role="tabpanel" aria-labelledby="pills-settings-tab">
          <div class='container'>
            <div>
              <h2>Profile Info</h2>
              <div class="row">
                <form id="profile-info-form" class="row needs-validation" novalidate method="post" action="{% url 'change_info' user.id %}" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="col-md-7 col-12 order-2 order-md-1">
                    <div class="mb-3 col-12">
                      <label for="s-first-name" class="form-label">First Name</label>
                      <input type="text" class="form-control" id="s-first-name" value="{{user.first_name}}" name="f_name" required disabled>
                      <div class="invalid-feedback">
                        This field is required
                      </div>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="mb-3 col-12">
                      <label for="s-last-name" class="form-label">Last Name</label>
                      <input type="text" class="form-control" id="s-last-name" value="{{user.last_name}}" name="l_name" required disabled>
                      <div class="invalid-feedback">
                        This field is required
                      </div>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="mb-3 col-12">
                      <label for="s-email" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="s-email" value="{{user.email}}" name="email" required disabled>
                      <div class="invalid-feedback">
                        This field is required
                      </div>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="mb-3 col-12">
                      <label for="s-bio" class="form-label">Bio</label>
                      <textarea class="form-control" id="s-bio" rows="3" placeholder="Tell us a little about yourself" name="bio" disabled>{{bio}}</textarea>
                    </div>
                    <div class="buttons col-12">
                      <button class="btn btn-primary" id="edit-info-btn" onclick="edit_profile_info(event)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                          <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                        </svg>
                        <span>Edit</span>
                      </button>
                      <button type="submit" class="btn btn-info d-none" id="save-info-btn">Save Changes</button>
                      <button class="btn btn-danger d-none" id="cancel-info-btn" onclick="cancel_profile_info(event)">Cancel</button>
                    </div>
                  </div>
                  <div class="col-md-5 col-12 order-1 order-md-2">
                    <div class="img-box">
                      <label class="-label" for="profile-pic">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
                          <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                          <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
                        </svg>
                        <span>Change Image</span>
                      </label>
                      <input name="profile-pic" id="profile-pic" type="file" onchange="s_change_img(event)" accept="image/*"/>
                      {% if pro_pic %}
                      <img src="{% get_media_prefix %}{{pic}}" id="profile-pic-img"/>
                      {% else %}
                      <img src="{% get_media_prefix %}pics/profile.jpg" id="profile-pic-img"/>
                      {% endif %}
                    </div>
                  </div>
                </form>
              </div>
              <h2>Social Media Links</h2>
              <div class="row">
                <div class="col-md-7 col-12">
                  <form id="urls-form" class="row needs-validation" novalidate>
                    <div class="mb-3 col-12">
                      <label for="s-twitter" class="form-label">Twitter</label>
                      <input type="url" class="form-control" id="s-twitter" value="{{twitter}}" disabled>
                      <div class="invalid-feedback">
                        This field should be a URL!
                      </div>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="mb-3 col-12">
                      <label for="s-fb" class="form-label">Facebook</label>
                      <input type="url" class="form-control" id="s-fb" value="{{facebook}}" disabled>
                      <div class="invalid-feedback">
                        This field should be a URL!
                      </div>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="mb-3 col-12">
                      <label for="s-insta" class="form-label">Instagram</label>
                      <input type="url" class="form-control" id="s-insta" value="{{instagram}}" disabled>
                      <div class="invalid-feedback">
                        This field should be a URL!
                      </div>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="mb-3 col-12">
                      <label for="s-linkedin" class="form-label">LinkedIn</label>
                      <input type="url" class="form-control" id="s-linkedin" value="{{linkedin}}" disabled>
                      <div class="invalid-feedback">
                        This field should be a URL!
                      </div>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="buttons col-12">
                      <button id="edit-urls-btn" class="btn btn-primary" onclick="edit_urls(event)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                          <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                        </svg>
                        <span>Edit</span>
                      </button>
                      <button type="submit" id="save-urls-btn" class="btn btn-info d-none">Save Changes</button>
                      <button class="btn btn-danger d-none" id="cancel-urls-btn" onclick="cancel_urls(event)">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}