{% extends 'main.html' %}
{% load static %}
{% block content %}
  <div class="jumbotron-main">
    <div class="container">
      <img src="{% static 'images/img2.jpg' %}" alt="The Jungle Squad" id="family-icon">
      <h1>The Jungle Squad</h1>
    </div>
  </div>
  <div data-bs-spy="scroll" data-bs-target="#navbar" class="scrollspy-example" tabindex="0">
    <div id="about_us">
      <div class="container">
        <div class="content">
          <div class="row">
            <h1 class="col-6">About Us</h1>
          </div>
          <div class="row d-flex justify-content-center">
            <p class="col-md-6 col-12 order-2 order-md-1 text-md-start text-center">Minim culpa reprehenderit proident ea nostrud magna anim nisi in elit sed elit minim sit dolore occaecat dolor adipisicing in est cupidatat et aliquip deserunt nostrud dolore esse laborum aliqua elit nostrud occaecat aliquip laborum sunt commodo ut ea aliqua laborum tempor nisi in cillum officia cillum eiusmod in duis nulla reprehenderit dolore sed laboris sunt irure proident esse commodo. Dolor ut ut enim non excepteur minim proident ad.</p>
            <div id="about-images" class="col-md-6 col-12 order-1 order-md-2">
              <img src="{% static 'images/people1.jpg' %}" id="img1">
              <img src="{% static 'images/people2.jpg' %}" id="img2">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="articles">
      <div class="container">
        <div class="card row" {% if user.is_authenticated is False %}style="position: relative;"{% endif %}>
          <div class="card-header"><h1>Latest Articles</h1></div>
          {% if user.is_authenticated is False %}
          <div class="sign-in-required">
            <div>
              <span>Please sign in to view this</span>
              <a class="btn btn-primary" href="{% url 'sign_in' %}">Sign In</a>
            </div>
          </div>
          {% endif %}
          <div class="card-body {% if user.is_authenticated is False %}blur-content{% endif %}">
            {% for i in articles %}
            <div class="item d-flex align-items-center">
              <div class="image">
                {% if i.author_profile_pic_present %}
                <img src="{% get_media_prefix %}{{ i.author_profile_pic }}" width="75" height="75">
                {% else %}
                <img src="{% get_media_prefix %}pics/profile.jpg" width="75" height="75">
                {% endif %}
              </div>
              <div class="text"><a href="#">
                  <h3 class="h5">{{i.title}}</h3></a><small>Posted on {{i.date_posted}} by {{i.author}}.   </small>
              </div>
            </div>
            {% endfor %}
            <div id="read_more">
              <a href="#">
                <small>Read More</small>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book-half" viewBox="0 0 16 16">
                  <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="books">
      <h1>Trending Books</h2>
      <div id="carouselExampleIndicators" class="carousel slide multi-item-carousel" id="theCarousel" data-bs-ride="carousel" {% if user.is_authenticated is False %}style="position: relative;"{% endif %}>
        <ol class="carousel-indicators {% if user.is_authenticated is False %}d-none{% endif %}">
          {% for i in book_reviews %}
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter0}}" {% if  forloop.counter0 == 0 %}class="active" aria-current="true"{% endif %}></li>
          {% endfor %}
        </ol>
        {% if user.is_authenticated is False %}
        <div class="sign-in-required">
          <div>
            <span>Please sign in to view this</span>
            <a class="btn btn-primary" href="{% url 'sign_in' %}">Sign In</a>
          </div>
        </div>
        {% endif %}
        <div class="carousel-inner {% if user.is_authenticated is False %}blur-content{% endif %}" role="listbox" >
          {% for i in book_reviews %}
          <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
            <div class="card">
              <img src="{% get_media_prefix %}{{i.book_cover}}" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="rating-container">
                  <div class="rating">
                    <input type="radio" name="rating-stars{{forloop.counter}}" value="5.0" required disabled {% if i.rating == "5.0" %}checked{% endif %}>
                    <input type="radio" name="rating-stars{{forloop.counter}}" value="4.5" required disabled {% if i.rating == "4.5" %}checked{% endif %}>
                    <input type="radio" name="rating-stars{{forloop.counter}}" value="4.0" required disabled {% if i.rating == "4.0" %}checked{% endif %}>
                    <input type="radio" name="rating-stars{{forloop.counter}}" value="3.5" required disabled {% if i.rating == "3.5" %}checked{% endif %}>
                    <input type="radio" name="rating-stars{{forloop.counter}}" value="3.0" required disabled {% if i.rating == "3.0" %}checked{% endif %}>
                    <input type="radio" name="rating-stars{{forloop.counter}}" value="2.5" required disabled {% if i.rating == "2.5" %}checked{% endif %}>
                    <input type="radio" name="rating-stars{{forloop.counter}}" value="2.0" required disabled {% if i.rating == "2.0" %}checked{% endif %}>
                    <input type="radio" name="rating-stars{{forloop.counter}}" value="1.5" required disabled {% if i.rating == "1.5" %}checked{% endif %}>
                    <input type="radio" name="rating-stars" value="1.0" required disabled {% if i.rating == "1.0" %}checked{% endif %}>
                    <input type="radio" name="rating-stars{{forloop.counter}}" value="0.5" required disabled {% if i.rating == "0.5" %}checked{% endif %}> 
                  </div>
                </div>
                <h5 class="card-title">{{i.book_title}}</h5>
                <p class="card-text">{{i.review}}...</p>
                <a href="#" class="btn btn-primary">View
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev {% if user.is_authenticated is False %}d-none{% endif %}" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next {% if user.is_authenticated is False %}d-none{% endif %}" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div id="gallery">
      <div id="image-viewer">
        <button onclick="img_back()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>
        </button>
        <p>
          filename
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-image-fill" viewBox="0 0 16 16">
            <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707v5.586l-2.73-2.73a1 1 0 0 0-1.52.127l-1.889 2.644-1.769-1.062a1 1 0 0 0-1.222.15L2 12.292V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zm-1.498 4a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z"/>
            <path d="M10.564 8.27 14 11.708V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-.293l3.578-3.577 2.56 1.536 2.426-3.395z"/>
          </svg>
        </p>
        <img id="view_img" src="">
        <span id="img-desc">Something</span>
        <button class="prev-icon" onclick="prev_img()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg>
        </button>
        <button class="next-icon" onclick="next_img()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
          </svg>
        </button>
      </div>
      <h1>Gallery</h1>
      <div class="container" {% if user.is_authenticated is False %}style="position: relative;"{% endif %}>
        {% if user.is_authenticated is False %}
        <div class="sign-in-required">
          <div>
            <span>Please sign in to view this</span>
            <a class="btn btn-primary" href="{% url 'sign_in' %}">Sign In</a>
          </div>
        </div>
        {% endif %}
        <div class="row {% if user.is_authenticated is False %}blur-content disable-img-viewer{% endif %}">
          {% for i in gallery_images %}
          <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <img src="{% get_media_prefix %}{{i.image}}" class="img-fluid">
            <span>{{i.caption}}</span>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}